{{define "IssueActions"}}
  {{$can := Can .User}}
  <a href="{{.Issue.Path "/view"}}" class="btn btn-default">View</a>

  {{if $can.EnterMetadata .Issue}}
  <a href="{{.Issue.Path "/metadata"}}" class="btn btn-default">Edit</a>
  {{end}}

  {{if $can.ReviewMetadata .Issue}}
  <a href="{{.Issue.Path "/review/metadata"}}" class="btn btn-default">Review</a>
  {{end}}

  {{if $can.ReviewUnfixable .Issue}}
  <a href="{{.Issue.Path "/errors/view"}}" class="btn btn-default">Review</a>
  {{end}}

  {{if $can.Claim .Issue}}
  <form action="{{.Issue.Path "/claim"}}" method="POST" class="actions">
    <button type="submit" class="btn btn-primary">Claim</button>
  </form>
  {{end}}

  {{if $can.Unclaim .Issue}}
  <form action="{{.Issue.Path "/unclaim"}}" method="POST" class="actions">
    <button type="submit" class="btn btn-danger">Unclaim</button>
  </form>
  {{end}}
{{end}}

{{define "MyDeskIssue"}}
  <tr>
    <!-- Issue title -->
    <th scope="row">{{.Issue.Title}} ({{.Issue.LCCN}})</td>

    <!-- Issue date -->
    <th scope="row">{{.Issue.Date}}</td>

    <!-- Task / Expiration -->
    <td>
      {{.Issue.TaskDescription}}
      <br />
      Expires on {{.Issue.WorkflowExpiration}}
    </td>

    <!-- Actions -->
    <td>{{template "IssueActions" .}}</td>
  </tr>
{{end}}

{{define "PendingMetadataIssues"}}
  <tr>
    <!-- Issue title -->
    <th scope="row">{{.Issue.Title}} ({{.Issue.LCCN}})</td>

    <!-- Issue date -->
    <th scope="row">{{.Issue.Date}}</td>

    <!-- Actions -->
    <td>{{template "IssueActions" .}}</td>
  </tr>
{{end}}

{{define "PendingReviewIssues"}}
  <tr>
    <!-- Issue title -->
    <th scope="row">{{.Issue.Title}} ({{.Issue.LCCN}})</td>

    <!-- Issue date -->
    <th scope="row">{{.Issue.Date}}</td>

    <!-- Actions -->
    <td>{{template "IssueActions" .}}</td>
  </tr>
{{end}}

{{define "UnfixableErrorIssues"}}
  <tr>
    <!-- Issue title -->
    <th scope="row">{{.Issue.Title}} ({{.Issue.LCCN}})</td>

    <!-- Issue date -->
    <th scope="row">{{.Issue.Date}}</td>

    <!-- Actions -->
    <td>{{template "IssueActions" .}}</td>
  </tr>
{{end}}
