{{define "issue_action"}}

<div class="action {{.Action.ActionType}} {{if eq .Action.Author.ID .User.ID}}self{{end}}">
  <div class="metadata">
    <em>{{.Action.Author.Login}}</em> {{.Action.ActionType|actionVerb}} {{.Action.CreatedAt|dtstr}}:
  </div>
  <div class="message">
    <blockquote>{{.Action.Message|nl2br}}</blockquote>
  </div>
</div>

{{end}}

{{define "issue_page_view"}}
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Page Label</dt>
      <dd id="page-label-text"></dd>
    </dl>
  </div>
</div>
<div class="osd-container">
  <div>
    Image <span id="osd-image-number">1</span> of {{.|len}}
    <button id="osd-jump-top" class="btn btn-default">Jump to top</button>
    <button id="osd-jump-bottom" class="btn btn-default">Jump to bottom</button>
  </div>
  <div id="osd-toolbar" class="osd-toolbar">
  </div>
  <div id="osd-body" style="height: 300px;">
  </div>
</div>
{{end}}

{{define "issue_metadata_view"}}
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Metadata Author</dt><dd>{{.MetadataAuthorLogin}}</dd>
      <dt>Title</dt><dd>{{.Title}}</dd>
      <dt>MARC Org Code</dt><dd>{{.MARCOrgCode}}</dd>
      <dt>Issue Date as labeled</dt><dd>{{.DateAsLabeled}}</dd>
      <dt>Issue Date</dt><dd>{{.Date}}</dd>
      <dt>Volume number</dt><dd>{{.Volume}}</dd>
      <dt>Issue number</dt><dd>{{.Issue.Issue}}</dd>
      <dt>Edition number</dt><dd>{{.Edition}}</dd>
      <dt>Edition label</dt><dd>{{.EditionLabel}}</dd>
    </dl>
  </div>
</div>
{{end}}
