{{block "content" .}}

<div class="tabs">
  <div role="tablist" aria-label="Workflow">
    <button role="tab" aria-selected="true" aria-controls="desk-tab" id="desk">Desk</button>

    {{if .User.PermittedTo EnterIssueMetadata}}
    <button role="tab" aria-selected="false" aria-controls="needs-metadata-tab" id="needs-metadata" tabindex="-1">
      Metadata Entry
    </button>
    {{end}}

    {{if .User.PermittedTo ReviewIssueMetadata}}
    <button role="tab" aria-selected="false" aria-controls="needs-review-tab" id="needs-review" tabindex="-1">
      Metadata Review
    </button>
    {{end}}
  </div>

  <!-- Everybody can see their own desk -->
  <div tabindex="0" role="tabpanel" id="desk-tab" aria-labelledby="desk">
    {{template "desk" .}}
  </div>

  <!-- Issues needing metadata entry -->
  {{if .User.PermittedTo EnterIssueMetadata}}
  <div tabindex="0" role="tabpanel" id="needs-metadata-tab" aria-labelledby="needs-metadata" hidden="">
    {{template "needs-metadata" .}}
  </div>
  {{end}}

  <!-- Issues with metadata needing review -->
  {{if .User.PermittedTo ReviewIssueMetadata}}
  <div tabindex="0" role="tabpanel" id="needs-review-tab" aria-labelledby="needs-review" hidden="">
    {{template "needs-review" .}}
  </div>
  {{end}}
</div>

{{end}} <!-- block "content" -->


{{block "desk" .}}
  <p>
    Tasks on your desk are assigned to you and need attention.  If items aren't
    processed by their expiration, they'll be returned to the appropriate pool
    and any work you've done will be lost.
  </p>

{{if .Data.MyDeskIssues}}
  <table class="table">
    <caption>Tasks</caption>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Task / Expiration</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
    {{range .Data.MyDeskIssues}}
      {{template "MyDeskIssue" (dict "Issue" . "User" $.User)}}
    {{end}}
    </tbody>
  </table>
{{else}}
  <em>There are no tasks awaiting your attention</em>
{{end}}

{{end}}<!-- block "desk" -->


{{block "needs-metadata" .}}
  <p>
    These issues have been uploaded or scanned, split into pages, and converted
    to PDF/a format.  They still need manual metadata entered before they will
    be ready to convert to a batch and ingest.
  </p>

  {{if .Data.PendingMetadataIssues}}
    <table class="table">
      <caption>Issues Needing Metadata Entry</caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
      {{range .Data.PendingMetadataIssues}}
        {{template "PendingMetadataIssues" (dict "Issue" . "User" $.User)}}
      {{end}}
      </tbody>
    </table>
  {{else}}
    <em>There are no issues needing metadata entry</em>
  {{end}}
{{end}} <!-- block "needs-metadata" -->

{{block "needs-review" .}}
  <p>
    These issues have had all metadata entered and need an issue reviewer to
    flag them as ready for processing.
  </p>

  {{if .Data.PendingReviewIssues}}
    <table class="table">
      <caption>Issues Needing Metadata Review</caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
      {{range .Data.PendingReviewIssues}}
        {{template "PendingReviewIssues" (dict "Issue" . "User" $.User)}}
      {{end}}
      </tbody>
    </table>
  {{else}}
    <em>There are no issues needing metadata review</em>
  {{end}}
{{end}} <!-- block "needs-review" -->
