{{block "content" .}}

<h2>Report problems</h2>
<p>
  <a href="{{"review/reject-form"|.Data.Issue.Path}}">Reject this issue</a> if any of the following are not true:
  <ul>
    <li>All pages which are labeled have a page label entered <strong>exactly as it's printed</strong></li>
    <li>All pages which are not labeled have a zero ("0") entered for their label</li>
    <li>The date and "date as labeled" are correct for the issue - <em>this doesn't always mean they're the same</em>!</li>
  </ul>
</p>

<hr />
<h2>Page Numbering</h2>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Page Label</dt>
      <dd id="page-label-text"></dd>
    </dl>
  </div>
</div>
<div class="osd-container">
  <div>
    Image <span id="osd-image-number">1</span> of {{.Data.Issue.JP2Files|len}}
    <button id="osd-jump-top" class="btn btn-default">Jump to top</button>
    <button id="osd-jump-bottom" class="btn btn-default">Jump to bottom</button>
  </div>
  <div id="osd-toolbar" class="osd-toolbar">
  </div>
  <div id="osd-body" style="height: 300px;">
  </div>
</div>

<hr />
<h2>Metadata</h2>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Metadata Author</dt><dd>{{.Data.Issue.MetadataAuthorLogin}}</dd>
      <dt>Title</dt><dd>{{.Data.Issue.Title}}</dd>
      <dt>MARC Org Code</dt><dd>{{.Data.Issue.MARCOrgCode}}</dd>
      <dt>Issue Date as labeled</dt><dd>{{.Data.Issue.DateAsLabeled}}</dd>
      <dt>Issue Date</dt><dd>{{.Data.Issue.Date}}</dd>
      <dt>Volume number</dt><dd>{{.Data.Issue.Volume}}</dd>
      <dt>Issue number</dt><dd>{{.Data.Issue.Issue.Issue}}</dd>
      <dt>Edition number</dt><dd>{{.Data.Issue.Edition}}</dd>
      <dt>Edition label</dt><dd>{{.Data.Issue.EditionLabel}}</dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" role="form" method="POST" action="{{"review/approve"|.Data.Issue.Path}}">
      <div class="form-group">
        <div class="col-md-2">
          <button type="Submit">Approve Issue</button>
        </div>
        <div class="col-md-2">
          <a href="{{"review/reject-form"|.Data.Issue.Path}}">Reject issue</a>
        </div>
      </div>
    </form>
  </div>
</div>

{{end}}

{{block "extrajs" .}}
{{template "osdjs" .}}
{{end}}
