{{block "content" .}}

<form class="form-horizontal" action="{{"review/reject"|.Data.Issue.Path}}" method="POST">
  <div class="form-group">
    <label class="col-md-2 control-label" for="notes">Rejection Notes</label>
    <div class="col-md-10">
      <textarea id="reject-reason" name="notes" class="form-control" rows="8"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="Submit">Reject</button>
    </div>
  </div>
</form>

{{end}}
