{{block "content" .}}

<form class="form-horizontal" action="{{"report-error/save"|.Data.Issue.Path}}" method="POST">
  <div class="form-group">
    <label class="col-md-2 control-label" for="issue-error">Description</label>
    <div class="col-md-10">
      <textarea id="issue-error" name="error" class="form-control" rows="8"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="Submit">Report</button>
    </div>
  </div>
</form>

{{end}}
