{{block "content" .}}

<form action="{{"report-error/save"|.Data.Issue.Path}}" method="POST">
  <div class="row mb-3">
    <label class="col-md-2 col-form-label" for="issue-error">Description</label>
    <div class="col-md-10">
      <textarea id="issue-error" name="error" class="form-control" rows="8"></textarea>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-10 offset-md-2">
      <button class="btn btn-primary" type="Submit">Report</button>
    </div>
  </div>
</form>

{{end}}
