{{block "content" .}}

<div class="card">
  <div class="card-header">
    <h2><button class="link disclosure" data-widget="simple-disclosure" aria-expanded="false" aria-controls="filter-form-wrapper">Filters</button></h2>
  </div>
  <div class="disclosure card-body" id="filter-form-wrapper">
    <form id="filter-form" role="form" data-url="{{.Data.SearchURL}}">

      <div class="row mb-3">
        <label class="col-md-2 col-form-label" for="lccn">LCCN</label>
        <div class="col-md-4">
          <input class="form-control" list="titles" id="lccn" name="lccn" autocomplete="off" aria-describedby="lccn-help" />
          <div id="lccn-help" class="form-text">
            Enter an LCCN. You may start typing a title's LCCN or its name, and
            on selection the appropriate LCCN will be set.
          </div>
        </div>
        <datalist id="titles">
          {{range .Data.Titles}}
          <option value="{{.LCCN}}">{{.Name}} - {{.LCCN}}</option>
          {{end}}
        </datalist>

        <label class="col-md-2 col-form-label" for="moc">MARC Org Code</label>
        <div class="col-md-4">
          <input class="form-control" list="mocs" id="moc" name="moc" autocomplete="off" aria-describedby="moc-help" />
          <div id="moc-help" class="form-text">
            Enter a MARC Org Code. You may start typing a code or its name, and
            on selection the appropriate code will be set.
          </div>
        </div>
        <datalist id="mocs">
          {{range .Data.MOCs}}
          <option value="{{.Code}}">{{if .Name}}{{.Name}} - {{end}}{{.Code}}</option>
          {{end}}
        </datalist>
      </div>

      <div class="row mb-3">
        <label class="col-md-2 col-form-label" for="went-live">Went Live...</label>
        <div class="col-md-4">
          <select class="form-select" id="went-live" name="went-live" autocomplete="off" aria-describedby="went-live-days-ago-help">
            <option value="">Anytime</option>
            <option value="1W">1 week ago</option>
            <option value="2W">2 weeks ago</option>
            <option value="1M">1 month ago</option>
            <option value="3M">3 months ago</option>
            <option value="6M">6 months ago</option>
            <option value="1Y">1 year ago</option>
          </select>
          <div id="went-live-help" class="form-text">
            Find issues based on how recently they went live.
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="offset-md-2">
          <button class="btn btn-primary" type="Submit">Apply</button>
          <button class="btn btn-outline" type="Reset" id="clear-filters">Clear Filters</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="offset-md-2 col-md-4">
          <div id="json-status" role="status" class="alert" data-faded="true" aria-live="polite">Status: N/A</div>
        </div>
      </div>

    </form>
  </div> <!-- card body -->
</div> <!-- card -->

<div class="row">
  <div class="col-md-8"><h2>Issues</h2></div>
</div>

<div class="row">
  <div id="search-results" class="col-md-6">
    <p><em>Use the filters above to search for issues.</em></p>
  </div>
</div>

{{end}} <!-- block "content" -->

{{block "extrajs" .}}
  <script>
  const searchURL = {{.Data.SearchURL}};
  </script>
  {{IncludeJS "manage-live-issues"}}
{{end}}
