.publisher-with-errors {
  background: #FEE;
}
.publisher-with-errors .publisher-link {
  float: left;
  width: 200px;
}

/* Make alerts more readable */
.alert-warning  { color: #3E2100; }
.alert-danger   { color: #4d0200; }
.alert-success  { color: #103210; }
