body {
  padding-bottom: 70px;
}

.issue-with-errors, .title-with-errors {
  background: #FEE;
}
.title-with-errors .title-link {
  float: left;
  width: 200px;
}

.issue-with-warnings {
  background: #FFE;
}

.issue-error-list {
  background: #FEE;
  font-weight: bold;
}

.issue-error-list ul li {
  font-weight: normal;
}

.issue-warning-list {
  background: #FFE;
  font-weight: bold;
}

.issue-warning-list ul li {
  font-weight: normal;
}

.issue-new {
  font-style: italic;
}

/* Make bootstrap's contrast problems slightly better */
.alert-warning  { color: #3E2100; }
.alert-danger   { color: #4d0200; }
.alert-success  { color: #103210; }
.alert-info     { color: #002443; }
caption         { color: #333; }

/* Make all non-nav <a> tags underlined */
a     { text-decoration: underline; }
nav a { text-decoration: none; }

form.actions {
  display: inline-block;
}

.osd-container {
  border: 1px solid black;
  padding: 8px;
}

.osd-toolbar {
  width: 400px;
  height: 35px;
}

.dl-horizontal dt {
  width: 200px;
}

.dl-horizontal dd {
  margin-left: 220px;
}

/* button-form lets us drop multiple <form> tags in a line when the form is
 * nothing but a single button, such as "Delete" */
.button-form {
  display: inline-block;
}

.radio-group {
  white-space: nowrap;
}

.radio-group input {
  margin-left: 1em;
}

/* We don't want rights URL table cells wrapping */
td.rights-url {
  white-space: nowrap;
}

/* Skip link that's not ugly */
a.skiplink {
  padding: 6px;
  font-weight: normal;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
  z-index: 100;
}
a.skiplink:focus {
  position:absolute;
  font-weight: normal;
  left:0px;
  top:0px;
  background:#333333;
  outline:0;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}

/* Tabs that are headings already stand out; they don't need to be absurdly huge */
button[role=tab] h1, button[role=tab] h2, button[role=tab] h3,
button[role=tab] h4, button[role=tab] h5, button[role=tab] h6 {
  font-size: inherit;
  margin: inherit;
}
