body {
  padding-bottom: 70px;
}

.title-with-errors {
  background: #FEE;
}
.title-with-errors .title-link {
  float: left;
  width: 200px;
}

.issue-error-list {
  background: #FEE;
  font-weight: bold;
}

.issue-error-list ul li {
  font-weight: normal;
}

.issue-new {
  font-style: italic;
}

/* Make alerts more readable */
.alert-warning  { color: #3E2100; }
.alert-danger   { color: #4d0200; }
.alert-success  { color: #103210; }
