/* Colors for the tab interface - we don't try to reuse bootstrap colors here */
:root, [data-bs-theme=light] {
  --tablist-tab-border: oklch(78% 0 0);
  --tablist-tab-shadow: oklch(78% 0 0);
  --tablist-tab-bg: oklch(95% 0 0);
  --tablist-tab-selected-bg: oklch(94% 0 0);
  --tablist-tab-selected-active-border: oklch(25% 0 0);
  --tablist-tab-selected-active-shadow: oklch(25% 0 0);
  --tablist-tab-selected-inactive-border: oklch(25% 0 0);
}

[data-bs-theme=dark] {
  --tablist-tab-border: oklch(28% 0 0);
  --tablist-tab-shadow: oklch(28% 0 0);
  --tablist-tab-bg: oklch(5% 0 0);
  --tablist-tab-selected-bg: oklch(6% 0 0);
  --tablist-tab-selected-active-border: oklch(75% 0 0);
  --tablist-tab-selected-active-shadow: oklch(75% 0 0);
  --tablist-tab-selected-inactive-border: oklch(75% 0 0);
}

[role="tablist"] {
  margin: 0 0 -.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: .3em .5em .4em;
  border: 1px solid var(--tablist-tab-border);
  border-radius: .2em .2em 0 0;
  box-shadow: 0 0 .2em var(--tablist-tab-shadow);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: var(--tablist-tab-bg);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid var(--tablist-tab-selected-active-border);
  content: '';
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: var(--tablist-tab-selected-bg);
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  border-top: 5px solid var(--tablist-tab-selected-inactive-border);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: .3em;
  background: var(--tablist-tab-selected-bg);
  box-shadow: none;
  content: '';
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: var(--tablist-tab-selected-active-border);
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: .5em .5em .7em;
  border: 1px solid var(--tablist-tab-border);
  border-radius: 0 .2em .2em .2em;
  box-shadow: 0 0 .2em var(--tablist-tab-shadow);
  background: var(--tablist-tab-selected-bg);
}

[role="tabpanel"]:focus {
  border-color: var(--tablist-tab-selected-active-border);
  box-shadow: 0 0 .2em var(--tablist-tab-selected-active-shadow);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid var(--tablist-tab-selected-active-border);
  border-radius: 0 0 0.2em 0.2em;
  content: '';
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}
