#marc-upload-form {
  ol {
    padding-left: 0;
  }

  p {
    line-height: 32px;
    padding-left: 10px;
  }

  li, div > p {
    background: var(--bs-body-bg);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid var(--bs-body-color);
  }
}

.marc-new-warning {
  color: var(--bs-warning-text-emphasis);
  font-size: 0.75em;
  margin-top: 0.25em;
}
