@charset "UTF-8";
/*-----------------------*
		Reset
*-----------------------*/
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

/*-----------------------*
		Element v1.0.0-custom
*-----------------------*/
:root {
  font-size: 100%;
  line-height: 2;
  color: #000;
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-feature-settings: "pwid";
}

body {
  background-color: #fafafa;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--custom-font-family-headings, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-weight: bold;
  line-height: 2;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-size: 75%;
  font-weight: normal;
}

h1 {
  font-size: 240%;
  line-height: 1.4166666667;
}

h2 {
  font-size: 200%;
  line-height: 1.5;
}

h3 {
  font-size: 160%;
  line-height: 1.625;
}

h4 {
  font-size: 140%;
  line-height: 1.7142857143;
}

h5 {
  font-size: 120%;
  line-height: 1.8333333333;
}

h6 {
  font-size: 100%;
  line-height: 2;
}

a {
  color: var(--custom-link-text-color, #2e7eb3);
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: var(--custom-link-text-hover-color, #38a0e4);
  text-decoration: underline;
}

hr {
  background-color: #ccc;
  height: 2px;
  border: 0;
}

p {
  font-size: 100%;
}

img {
  display: inline-block;
  line-height: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid #f0f0f0;
  width: 100%;
}

th,
td {
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 0.6rem;
}
tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #f8f8f8;
}

th {
  background: #eee;
  font-weight: bold;
  text-align: left;
}

ul {
  list-style-type: disc;
}

ul.no-style {
  list-style: none;
  padding-left: 0;
}
ul.inline {
  list-style: none;
  padding-left: 0;
}
ul.inline li {
  display: inline;
  padding-right: 2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

blockquote {
  color: #999;
  padding: 1.28rem;
  background-color: #f4f4f4;
  border-left: 4px solid #f0f0f0;
  border-radius: 0.2rem;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

code {
  background-color: #f4f4f4;
}

kbd {
  color: #fff;
  background-color: #333;
}

pre {
  background-color: #f4f4f4;
  padding: 1.28rem;
  overflow: auto;
  white-space: pre-wrap;
  border-radius: 0.2rem;
}
pre code {
  padding: 0;
  background-color: unset;
}
pre.wrap {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

figcaption {
  color: #333;
  font-size: 100%;
  line-height: 2;
}

/*-----------------------*
		stack
*-----------------------*/
:root {
  --const-stack: 1.28rem;
  --stack-top: 1.28rem;
  --stack-bottom: 0;
  --first-stack-top: 0;
  --first-stack-bottom: 0;
  --last-stack-top: 0;
  --last-stack-bottom: 0;
}

.first-stack,
main * {
  margin-top: var(--first-stack-top, unset);
  margin-bottom: var(--first-stack-bottom, unset);
}

.stack,
main * + h1,
main * + h2,
main * + h3,
main * + h4,
main * + h5,
main * + h6,
main * + p,
main * + hr,
main * + table,
main * + ul,
main * + ol,
main * + dl,
main * + blockquote,
main * + pre,
main * + figure,
.table_of_contents,
.pagination,
.highlight,
.powered,
.panel,
.button,
.gist,
.twitter-tweet,
.code {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}

.last-stack {
  margin-top: var(--last-stack-top, unset);
  margin-bottom: var(--last-stack-bottom, unset);
}

.stack-multi--by2 {
  margin-top: calc(var(--first-stack-top, unset) * 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 2);
}

.stack-multi--by4 {
  margin-top: calc(var(--first-stack-top, unset) * 4);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 4);
}

.stack-divi--by2 {
  margin-top: calc(var(--first-stack-top, unset) / 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) / 2);
}

.none-stack,
figure > figcaption,
.pagination > *,
.code .code-content .highlight {
  margin-top: 0;
}

.unset-stack,
main li > ul,
main li > ol,

/*-----------------------*
		Structure
*-----------------------*/
html,
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.content-container {
  box-sizing: border-box;
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

main {
  box-sizing: border-box;
  flex: 0 0 75%;
  max-width: 75%;
}
main:only-child {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
}

.sidebar {
  box-sizing: border-box;
  flex: 0 0 25%;
  order: -1;
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .content-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
  }

  main {
    box-sizing: border-box;
    flex: 0 0 auto;
    min-width: 100%;
  }

  .sidebar {
    box-sizing: border-box;
    flex: 0 0 auto;
    order: 1;
  }
}

.pagination {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .pagination {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .nav-next {
    margin-left: 0;
  }
}

figure > figcaption h4 {
  font-size: 80%;
  font-weight: normal;
}

a.headerlink {
  margin-left: 0.4rem;
  width: 0.8rem;
  font-size: 0.75em;
}

.code {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.code .filename {
  box-sizing: border-box;
  flex: 0 0 75%;
  max-width: 75%;
  font-size: 80%;
  color: #666;
}

header {
  color: var(--custom-font-color, #fff);
  background: var(--custom-background-color, #000);
  padding: 0.5rem 1.28rem;
}
header h1 {
  font-size: 140%;
  display: inline-block;
}
header .version {
  margin-left: 0.4rem;
  font-size: 80%;
}
header .github {
  color: currentColor;
  margin-left: 0.4rem;
  font-size: 180%;
}
header .github img {
  width: 1em;
  height: 1em;
  display: inline-block;
  overflow: visible;
  vertical-align: -.125em;
}

main {
  padding: 3rem;
}

@media screen and (max-width: 480px) {
  main {
    padding: 1rem;
  }
}
.powered {
  font-size: 80%;
  text-align: right;
  color: #999;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip a {
  padding:6px;
  position: absolute;
  top:-80px;
  left:0px;
  color:white;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-bottom-right-radius:8px;
  background:#BF1722;
  transition: top .5s ease-out;
  z-index: 100;
}

.skip a:focus {
  position:absolute;
  left:0px;
  top:0px;
  outline-color:transparent;
  transition: top .05s ease-in;
}
