{{block "content" .}}

<div class="col-md-6">
  {{template "batch-metadata" .Data.Batch}}
</div>

<div class="col-md-6">
  <h2>Actions</h2>
  <p>
    You are about to approve {{.Data.Batch.Name}} to be loaded from staging to
    production. Please make absolutely certain that this is what you want to
    do! Once a batch loader pushes the batch to production, fixes get a lot
    tougher.
  </p>
  <form action="{{ApproveURL .Data.Batch}}" method="POST">
    <button class="btn btn-primary" type="submit">Approve</button>
    <a href="{{ViewURL .Data.Batch}}" class="btn btn-primary">Cancel</a>
  </form>
</div>
{{end}}
