{{block "content" .}}
<div class="row">
  <div class="col-md-6">
    <h2>Identify Problem Issues</h2>
    <p>
      Find an issue, then briefly describe the problem. As you flag issues,
      the "Flagged Issues" list will be updated.
    </p>

    <form action="{{FlagIssuesURL .Data.Batch}}" method="POST">
      <input type="hidden" name="action" value="flag-issue" />
      {{if .Data.ShowKeyHelp}}
      <div class="alert alert-info">
        You must enter a ten-character LCCN followed by a slash and then a
        ten-digit date + edition string; e.g.,
        <code>sn12345678/2021010201</code> would represent the title
        <code>sn12345678</code>'s January 2nd, 2021 first edition issue.
      </div>
      {{end}}
      {{if .Data.ShowURLHelp}}
      <div class="alert alert-info">
        URLs must be a standard ONI permalink to the issue on the staging
        server, e.g.,
        <code>{{StagingRootURL}}/lccn/sn12345678/2021-01-02/ed-1/</code>.
        A page link (same as the issue link, but with "/seq-1" on the end,
        for instance) is permissable as well.
      </div>
      {{end}}

      <label class="form-label" for="issue-key">Issue</label>
      <input class="form-control" list="issue-keys" id="issue-key" name="issue-key" autocomplete="off" aria-describedby="issue-key-help" value="{{.Data.IssueKey}}" />
      <div class="form-text" id="issue-key-help">
        Start typing an LCCN and/or date to search for an issue, or manually
        enter an issue "key" (in the form <code>LCCN/YYYYMMDDEE</code>) or
        paste in a URL (e.g., from the staging server).
      </div>
      <datalist id="issue-keys">
      {{range .Data.UnflaggedIssues}}
      <option value="{{.Key}}">{{.Title.MARCTitle}}, {{.Date}}, ed. {{.Edition}} ({{.Key}})</option>
      {{end}}
      </datalist>

      <label class="form-label" for="issue-desc">Description of problem</label>
      <textarea class="form-control" name="issue-desc" id="issue-desc" aria-describedby="issue-desc-help" rows="2" >{{.Data.IssueDescription}}</textarea>
      <div class="form-text" id="issue-desc-help">
        Briefly describe the problem, e.g., "Page 4 is rotated". The person
        doing remediation will use this information to decide on what
        kind of remediation is required.
      </div>
      <button class="btn btn-primary" type="submit">Add Issue To Removal Queue</button>
    </form>

    <h2>Finalize / Undo / Abort</h2>
    <p>
      When you're certain you've identified all problem issues, select
      "Finalize" below. <em>This will effectively lock the batch from further
      updates, so be certain you're done!</em>
      {{if not .Data.FlaggedIssues}}<strong>Note: you haven't selected any
      issues yet, so finalizing is not an option.</strong>{{end}}
    </p>
    <p>
      If you just want to remove the batch but leave the issues in NCA for a
      new batch generation, select "Purge" below. This will finalize flagged
      issues, but push all the good issues back into NCA and destroy the batch.
    </p>
    <p>
      If this batch doesn't need any issues removed (i.e., it was failed by
      mistake), you may reset its status to "ready for QC" via the "Abort"
      button. <em>This will clear all flagged issues and return the batch to
      its prior state.</em>
    </p>
    <form action="{{FlagIssuesURL .Data.Batch}}" method="POST">
      <cta-modal>
        <div slot="button" class="inline">
          {{if .Data.FlaggedIssues}}
          <button class="btn btn-primary cta-modal-toggle">Finalize</button>
          {{else}}
          <button class="btn btn-disabled" disabled="disabled">Finalize</button>
          {{end}}
        </div>

        <div slot="modal" style="color: black;">
          <h2>Finalize Batch?</h2>
          <p>
            You are about to finalize {{.Data.Batch.Name}}. The
            {{.Data.FlaggedIssues|len}} flagged issue(s) will be removed from
            the batch and put into the "Unfixable Errors" tab in the NCA
            workflow, then
            {{if eq 0 .Data.RemainingIssues}}
            the batch will be deleted (all issues were flagged for removal).
            {{else}}
            the batch will be rebuilt and pushed up to staging again.
            {{end}}
          </p>
          <button class="btn btn-primary" type="submit" name="action" value="finalize">Confirm</button>
          <button class="btn btn-secondary cta-modal-toggle">Cancel</button>
        </div>
      </cta-modal>

      {{if .Data.Can.Purge .Data.Batch}}
      <cta-modal>
        <div slot="button" class="inline">
          {{if ne 0 .Data.RemainingIssues}}
          <button class="btn btn-primary cta-modal-toggle">Purge</button>
          {{else}}
          <button class="btn btn-disabled" disabled="disabled">Purge</button>
          {{end}}
        </div>

        <div slot="modal" style="color: black;">
          <h2>Purge Batch?</h2>
          <p>
            You are about to purge {{.Data.Batch.Name}}. The following actions will occur:
            <ul>
              <li>
                The {{.Data.FlaggedIssues|len}} flagged issue(s) will be
                removed from the batch and put into the "Unfixable Errors" tab
                in the NCA workflow.
              </li>
              <li>
                All other issues will be moved back to NCA's normal workflow,
                ready to immediately be included in a new batch.
              </li>
              <li>
                The batch will be purged from disk and from NCA.
              </li>
            </ul>

            <i>This is generally not necessary unless the batch was built by mistake</i>.
          </p>
          <button class="btn btn-primary" type="submit" name="action" value="purge">Confirm</button>
          <button class="btn btn-secondary cta-modal-toggle">Cancel</button>
        </div>
      </cta-modal>
      {{end}}

      <cta-modal>
        <div slot="button" class="inline">
          <button class="btn btn-danger cta-modal-toggle">Abort</button>
        </div>

        <div slot="modal" style="color: black;">
          <h2>Cancel Issue Flagging?</h2>
          <p>
            You are about to "reset" {{.Data.Batch.Name}} to be back in the
            "ready for QC" state. The {{.Data.FlaggedIssues|len}} flagged
            issue(s) will be un-flagged and treated normally. The batch can
            then be approved or you can start flagging issues again.
          </p>
          <button class="btn btn-primary" type="submit" name="action" value="abort">Confirm</button>
          <button class="btn btn-secondary cta-modal-toggle">Cancel</button>
        </div>
      </cta-modal>
    </form>
  </div>

  <div class="col-md-6">
    <h2>Flagged Issues</h2>
    <p>
      These issues have been identified as having problems, and will be removed
      from the batch when it is finalized. The "undo" button can be used to
      remove an incorrectly flagged issue.
    </p>
    {{if .Data.FlaggedIssues}}
    <div class="card">
      <div class="card-body">
        {{range .Data.FlaggedIssues}}
        <div class="row">
          <div class="col-md-10">
            <h3 class="h4">{{.Issue.Title.MARCTitle}} ({{.Issue.LCCN}}), {{.Issue.Date}} ed. {{.Issue.Edition}}</h3>
          </div>
          <div class="col-md-2 unflag-form">
            <form action="{{FlagIssuesURL $.Data.Batch}}" method="POST">
              <input type="hidden" name="issue-id" value="{{.Issue.ID}}" />
              <input type="hidden" name="action" value="unflag-issue" />
              <button class="btn btn-danger btn-xs" type="submit">Undo</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{if .Reason}}
            <em>{{.Reason}}</em>
            {{else}}
            <em>(No reason given for removal)</em>
            {{end}}
          </div>
          <div class="col-md-12">
            <p class="text-muted">
              Flagged by {{.User.Login}} on {{.When.Format "2006-01-02"}}.
            </p>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    {{else}}
    <p>(No issues have been flagged yet)</p>
    {{end}}

    <h2>Information / Help</h2>
    <p>
      Issues identified here will be removed from the batch and put into the NCA
      workflow. Once the bad issues are removed, the batch will be set as needing
      to be loaded to staging again. Once it's back on staging, you may re-review
      and then flag it as ready for production.
    </p>
    <p>
      Note that you may return to this view at any time, and you don't have to
      flag the issues all at once. Issues marked for removal will be
      automatically flagged and saved as you enter them, but they won't be
      removed until you finalize the batch.
    </p>
  </div>
</div>

<div class="row">
  <h2>Batch Summary</h2>
  <div class="col-md-6">
    {{template "batch-metadata-info" .Data.Batch}}
  </div>

  <div class="col-md-6">
    {{template "batch-metadata-links" .Data.Batch}}
  </div>
</div>
{{end}}
