{{block "content" .}}

<div class="row">
  <div class="col-md-6">
    {{template "batch-metadata" .Data.Batch}}
  </div>

  <div class="col-md-6">
    <h2>Actions</h2>

    <!-- Needs QC pass -->
    {{if and .Data.Batch.ReadyForQC .Data.Batch.Can.Approve}}
    <p>{{.Data.Batch.Name}} needs approval to move to production (or a rejection if it needs to be fixed).</p>

    <a href="{{ApproveURL .Data.Batch}}" class="btn btn-primary">Approve...</a>
    <a href="{{RejectURL .Data.Batch}}" class="btn btn-danger">Reject...</a>

    <!-- Needs batch reviewer to flag issues -->
    {{else if and .Data.Batch.ReadyForFlaggingIssues .Data.Batch.Can.FlagIssues}}
    <p>
      {{.Data.Batch.Name}} has failed QC. You can mark issues that need to be
      removed and then send the batch back to staging, or eliminate the batch
      entirely.
    </p>

    <a href="{{FlagIssuesURL .Data.Batch}}" class="btn btn-primary">Flag Issues / Undo Batch...</a>

    <!-- On production, copied to archive location, needs to be flagged for the
         issue-cleanup countdown to start -->
    {{else if and .Data.Batch.ReadyForArchive .Data.Batch.Can.Archive}}
    <p><strong>{{.Data.Batch.Name}} is live and has been copied to the archival location.</strong></p>
    <p>
      When the archive has been finalized, flag it as complete below. This starts
      a <strong>28-day</strong> countdown, after which NCA deletes <em>all local
      issues' files</em> from disk.
    </p>
    <p>
      If your archival location is the final destination for archives, you can
      activate this at any time. If you move files to a location where they are
      batch-archived at a later date, activate this after the batch archive
      occurs to ensure the countdown doesn't start until the files have actually
      started moving to the final archive.
    </p>

    <form action="{{SetArchivedURL .Data.Batch}}" method="POST">
      <button class="btn btn-primary" type="submit">Mark Batch "Archived"</button>
    </form>

    {{else}}
    <p>There are currently no actions you can take on this batch.</p>
    {{end}}
  </div>
</div>

{{if .Data.ActivityLog}}
  <div class="row">
    <h2>Activity Logs</h2>
    <div class="action-list">
      {{range .Data.ActivityLog}}
        {{template "activity-log" (dict "Action" . "User" $.User)}}
      {{end}}
    </div>
  </div>
{{end}}

{{end}}

{{define "activity-log"}}
<div class="action {{.Action.ActionType}} {{if eq .Action.Author.ID .User.ID}}self{{end}}">
  <div class="wrapper">
    <div class="metadata">
      {{if eq .Action.Author.ID .User.ID}}
      <strong><em>You</em></strong>
      {{else}}
      <em>{{.Action.Author.Login}}</em>
      {{end}}
      {{.Action.ActionType|actionVerb}} {{.Action.CreatedAt|dtstr}}{{if .Action.Message}}:{{end}}
    </div>
    <div class="message">
      <blockquote>{{.Action.Message|nl2br}}</blockquote>
    </div>
  </div>
</div>
{{end}}
