{{block "content" .}}

<h2>Batch Parameters</h2>

<form action="{{BatchMakerFilterURL}}" class="row align-items-top" method="GET" aria-describedby="batch-form-help">
  <div class="col-md-12">
    <h2>Select Issues</h2>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">Select</th>
          <th scope="col">Organization</th>
          <th scope="col">Issue / Page Status</th>
        </tr>
      </thead>

      <tbody>
        {{range .Data.MOCIssueAggregations}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" name="select-moc-{{.MOC.ID}}" id="select-moc-{{.MOC.ID}}" type="checkbox" />
              <label class="form-check-label" for="select-moc-{{.MOC.ID}}">Select "{{.MOC.Code}}"</label>
            </div>
          </td>

          <td>{{.MOC.Name}}</td>

          <td>
            <dl>
              {{range .Counts}}
              <dt>{{.Title}}</dt>
              <dd>
                {{pluralize "issue" "issues" .Issues}}, {{pluralize "page" "pages" .Pages}}
              </dd>
              {{end}}
            </dl>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Build Queues...</button>
    </div>
  </div>

  <div id="batch-form-help" class="col-md-12">
    <h2>Help / Info</h2>
    <p>
      Choose one or more MARC org codes to build batches, and choose "Build
      Queues..." to see the list of issues you'll end up batching. Nothing is
      created until you confirm the batch generation process.
    </p>

    <p>
      Note that batches are grouped by "awardees" per the NDNP spec (MARC Org
      Codes are used to designate awardees). If multiple are selected, they
      will be batched individually even if your maximum batch size is large
      enough to accommodate all pages of all issues chosen.
    </p>

    <p>
      Note also that NCA and Open ONI allow custom / fake MARC org codes for
      grouping batches and giving attribution to external entities that are not
      necessarily NDNP awardees.
    </p>
  </div>
</form>

{{end}}
