{{block "content" .}}

<h2>Titles</h2>
<ul>
  {{range .Data.Titles}}
    {{if .Show}}
      <li>
        {{if gt .TotalErrors 0}}
          <div class="title-with-errors">
            <div class="title-link">{{.Link}}</div>
            {{if gt .TitleErrors 0}}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="count">{{.TitleErrors}} error(s) detected on this title</span>
            {{end}}
            {{if gt .ChildErrors 0}}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="count">{{.ChildErrors}} error(s) detected in issues and/or files</span>
            {{end}}
          </div>
        {{- else}}
          {{.Link}}
        {{- end}}
      </li>
    {{end}}
  {{end}}
</ul>
</h2>

{{end}}
