{{block "content" .}}

{{if .Data.Issue.HasErrors}}
  <h2>Errors</h2>
  <div class="issue-with-errors">
    This issue has errors, and cannot be queued:
  </div>
  <ul>
  {{range .Data.Issue.Errors}}
    <li>{{ErrorHTML .}}</li>
  {{end}}
  </ul>
{{else}}
  <form action="{{.Data.Issue.WorkflowPath "queue"}}" method="POST">
    <p>No critical errors detected</p>
    {{if .Data.Issue.QueueInfo}}
      <div class="alert alert-warning">{{.Data.Issue.QueueInfo}}</div>
    {{end}}
    {{if .Data.Issue.IsDangerouslyNew}}
        <div class="alert alert-warning">This issue is very new and may get more uploads, so queueing is not permitted</div>
    {{else}}
      {{if .Data.Issue.IsNew}}
        <div class="alert alert-warning">This issue is relatively new and may get more uploads - queue with care!</div>
      {{end}}

      {{if .User.PermittedTo ModifyUploadedIssues}}
        <div><button type="submit">Queue Issue</button> for derivative generation</div>
      {{end}}
    {{end}}
  </form>
{{end}}

<hr />

<div class="issue-metadata">
  <h2>Metadata</h2>
  {{with .Data.Issue}}
  <dl class="dl-horizontal">
    <dt>MARC Org. Code</dt><dd>{{.MARCOrgCode}}</dd>
    <dt>Source</dt><dd>{{.WorkflowStep}}</dd>
    <dt>Title</dt><dd>{{.Title.Name}} (LCCN {{.Title.LCCN}})</dd>
    <dt>Date, Edition</dt><dd>{{.RawDate}}, {{.Edition}}</dd>
  </dl>
  {{end}}
</div>

<table class="table table-striped table-bordered table-condensed sortable">
  <caption><h2>Files</h2></caption>
  <thead>
    <tr>
      <th scope="col" class="sort-alpha">Filename</th>
      <th scope="col" class="sort-alpha">Last Modified</th>
      <th scope="col" class="sort-alpha">Status</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Issue.Files}}
      <tr {{if .HasErrors}} class="file-with-errors"{{end}}>
        <td>{{.Link}}</td>
        <td>{{TimeString .ModTime}}</td>
        <td>
          {{- if .HasErrors}}
            <b>{{ErrorListHTML .Errors}}</b>
          {{- else}}
            No file errors detected
          {{- end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

<script>SortableTable.initAll()</script>
{{end}}
