{{block "content" .}}

{{if .Data.Issue.HasErrors}}
  <h2>Errors</h2>
  <div class="issue-with-errors">
    This issue has errors, and cannot be queued:
    <ul>
    {{range .Data.Issue.Errors.Major.All}}
      <li>{{ErrorHTML .}}</li>
    {{end}}
    </ul>
  </div>
{{else}}
  <form action="{{.Data.Issue.WorkflowPath "queue"}}" method="POST">
    <p>No critical errors detected</p>

    {{if .Data.Issue.HasWarnings}}
    <div class="alert alert-warning">
      This issue has warnings - <strong>queue with care</strong>:
      <ul>
      {{range .Data.Issue.Errors.Minor.All}}
        <li>{{.Message}}</li>
      {{end}}
      </ul>
    </div>
    {{end}}

    {{if .Data.Issue.QueueInfo}}
      <div class="alert alert-warning">{{.Data.Issue.QueueInfo}}</div>
    {{end}}

    {{if .User.PermittedTo ModifyUploadedIssues}}
      <div><button type="submit">Queue Issue</button> for derivative generation</div>
    {{end}}
  </form>
{{end}}

<hr />

<div class="issue-metadata">
  <h2>Metadata</h2>
  {{with .Data.Issue}}
  <dl class="dl-horizontal">
    <dt>MARC Org. Code</dt><dd>{{.MARCOrgCode}}</dd>
    <dt>Source</dt><dd>{{.WorkflowStep}}</dd>
    <dt>Title</dt><dd>{{.Title.Name}} (LCCN {{.Title.LCCN}})</dd>
    <dt>Date, Edition</dt><dd>{{.RawDate}}, {{.Edition}}</dd>
  </dl>
  {{end}}
</div>

<table class="table table-striped table-bordered table-condensed sortable">
  <caption><h2>Files</h2></caption>
  <thead>
    <tr>
      <th scope="col" data-sorttype="alpha">Filename</th>
      <th scope="col" data-sorttype="alpha">Last Modified</th>
      <th scope="col" data-sorttype="alpha">Status</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Issue.Files}}
      <tr {{if .HasErrors}} class="file-with-errors"{{end}}>
        <td>{{.Link}}</td>
        <td>{{TimeString .ModTime}}</td>
        <td>
          {{- if .HasErrors}}
            <b>{{ErrorListHTML .Errors.Major.All}}</b>
          {{- else}}
            No file errors detected
          {{- end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

{{end}}
