{{block "content" .}}

{{if gt .Data.Title.TitleErrors 0}}
  <h2>Errors</h2>
  <div class="title-with-errors">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>
      NOTE: This title has errors separate from the issues!  It is strongly advised you not queue issues unless you understand the ramifications fully!
    </span>
  </div>
  <ul>
    {{range .Data.Title.Errors}}
    <li>{{.}}</li>
    {{end}}
  </ul>
{{end}}

<table class="table table-striped table-bordered table-condensed sortable">
  <caption><h2>Issues</h2></caption>
  <thead>
    <tr>
      <th scope="col" class="sort-alpha">Issue</th>
      <th scope="col" class="sort-alpha">Last Modified</th>
      <th scope="col" class="sort-alpha">Issue Status</th>
      <th scope="col" class="sort-number">PDF Count</th>
      <th scope="col" class="sort-alpha">PDF Status</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Title.Issues}}
      <tr>
        <td>{{.Link}}</td>
        <td>{{TimeString .Modified}}</td>
        <td>
          {{- if gt (len .Errors) 0}}
            <div class="issue-error-list">
            Errors:
            <ul>
              {{range .Errors}}
              <li>{{.}}</li>
              {{end}}
            </ul>
          {{- end}}
          {{- if .IsNew}}
            <div class="issue-new">This issue was recently uploaded, and might get more changes</div>
          {{- end}}
        </td>
        <td>{{len .PDFs}}</td>
        <td>
          {{- if gt (len .PDFs) 0}}
            {{if gt .ChildErrors 0}}
              <b>{{.ChildErrors}} PDF error(s)</b>
            {{- else}}
              No PDF errors detected
            {{- end}}
          {{- else}}
            N/A
          {{- end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

<script>SortableTable.initAll()</script>
{{end}}
