{{block "content" .}}

{{if gt (len .Data.OtherErrors) 0}}
  <h2>Errors</h2>
  <div class="title-with-errors">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>
      One or more errors may be preventing all titles from being displayed.  If
      you aren't sure how to fix them, contact the administrator for assistance.
    </span>
  </div>
  <ul>
    {{range .Data.OtherErrors}}
    <li>{{.Message}}</li>
    {{end}}
  </ul>
{{end}}

<h2>Titles</h2>
<ul>
  {{range .Data.Titles}}
    {{if .Show}}
      <li>
        {{if gt .TotalErrors 0}}
          <div class="title-with-errors">
            <div class="title-link">{{.Link}}</div>
            {{if gt .TitleErrors 0}}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="count">{{.TitleErrors}} error(s) detected on this title</span>
            {{end}}
            {{if gt .ChildErrors 0}}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="count">{{.ChildErrors}} error(s) detected in issues and/or files</span>
            {{end}}
          </div>
        {{- else}}
          {{.Link}}
        {{- end}}
      </li>
    {{end}}
  {{end}}
</ul>
</h2>

{{end}}
