{{define "titleitem"}}
      <li>
        {{if or .HasIssueErrors .HasErrors}}
          <div class="title-with-errors">
            <div class="title-link">{{.Link}}</div>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{if .HasErrors}}
            <span class="count">One or more errors detected</span>
            {{else}}
            <span class="count">Errors detected on one or more of this title's issues</span>
            {{end}}
          </div>
        {{- else}}
          {{.Link}}
        {{- end}}
      </li>
{{end}}

{{block "content" .}}

{{if gt (len .Data.OtherErrors) 0}}
  <h2>Errors</h2>
  <div class="title-with-errors">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span>
      One or more errors may be preventing all titles from being displayed.  If
      you aren't sure how to fix them, contact the administrator for assistance.
    </span>
  </div>
  <ul>
    {{range .Data.OtherErrors}}
    <li>{{ErrorHTML .}}</li>
    {{end}}
  </ul>
{{end}}

<h2>Born-Digital Titles</h2>
<ul>
  {{range .Data.BornDigitalTitles}}
    {{if .Show}}
      {{template "titleitem" .}}
    {{end}}
  {{end}}
</ul>

<h2>Scanned Titles</h2>
<ul>
  {{range .Data.ScannedTitles}}
    {{if .Show}}
      {{template "titleitem" .}}
    {{end}}
  {{end}}
</ul>

{{end}}
