{{block "content" .}}

{{if .Data.Title.HasErrors}}
  <h2>Errors</h2>
  <div class="alert alert-danger">
    Note: this title has one or more errors, and its issues cannot be queued:
    <ul>
      {{range .Data.Title.Errors.Major.All}}
      <li>{{ErrorHTML .}}</li>
      {{end}}
    </ul>
  </div>
{{end}}

<table class="table table-striped table-bordered table-condensed sortable">
  <caption><h2>Issues</h2></caption>
  <thead>
    <tr>
      <th scope="col" data-sorttype="alpha">Org. Code</th>
      <th scope="col" data-sorttype="alpha">Issue</th>
      <th scope="col" data-sorttype="alpha">Type</th>
      <th scope="col" data-sorttype="alpha">Last Modified</th>
      <th scope="col" data-sorttype="alpha">Issue Status</th>
      <th scope="col" data-sorttype="number">File Count</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Title.Issues}}
      <tr>
        <td>{{.MARCOrgCode}}</td>
        <td>{{.Link}}</td>
        <td>{{.WorkflowStep}}</td>
        <td>{{TimeString .LastModified}}</td>
        <td>
          {{- if .HasErrors}}
            <div class="alert alert-danger">
            <strong>Errors:</strong>
            <ul>
              {{range .Errors.Major.All}}
              <li>{{ErrorHTML .}}</li>
              {{end}}
            </ul>
            </div>
          {{- end}}
          {{- if .HasWarnings}}
            <div class="alert alert-warning">
            <strong>Warnings:</strong>
            <ul>
              {{range .Errors.Minor.All}}
              <li>{{ErrorHTML .}}</li>
              {{end}}
            </ul>
            </div>
          {{- end}}
        </td>
        <td>{{len .Files}}</td>
      </tr>
    {{end}}
  </tbody>
</table>

{{end}}
