{{template "header" .}}

<ul>
  {{range $pub := .Publishers}}
    {{if $pub.Show}}
      <li>
        {{if gt $pub.ErrorCount 0 }}
          <div class="publisher-with-errors">
            <div class="publisher-link">{{$pub.Link}}</div>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="count">{{$pub.ErrorCount}} error(s) detected</span>
          </div>
        {{- else}}
          {{$pub.Link}}
        {{- end}}
      </li>
    {{end}}
  {{end}}
</ul>

{{template "footer" .}}
