{{template "header" .}}

<ul>
  {{range .Publishers}}
    {{if .Show}}
      <li>
        {{if gt .ErrorCount 0 }}
          <div class="publisher-with-errors">
            <div class="publisher-link">{{.Link}}</div>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="count">{{.ErrorCount}} error(s) detected</span>
          </div>
        {{- else}}
          {{.Link}}
        {{- end}}
      </li>
    {{end}}
  {{end}}
</ul>

{{template "footer" .}}
