{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    {{RawCSS "bootstrap/css/bootstrap.min.css"}}
    {{IncludeCSS "prevent-double-submit"}}
    {{IncludeJS "prevent-double-submit"}}
    {{IncludeCSS "style"}}
    {{IncludeCSS "sortabletable"}}
    {{IncludeCSS "tabs"}}
    {{IncludeCSS "actions"}}
    {{IncludeJS "sortabletable"}}
    {{IncludeCSS "disclosure"}}
    {{IncludeJS "disclosureButton"}}
    {{IncludeJS "copy-clipboard"}}
    {{RawJS "cta-modal/cta-modal.js"}}
  </head>

  <body>
    <a class="skiplink sr-only sr-only-focusable" href="#maincontent">
      Skip to main content
    </a>

    <div id="wrap">
      <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{HomePath}}">NCA</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              {{if .User.PermittedTo ListTitles}}
                <li><a href="{{FullPath "titles"}}">Titles</a></li>
              {{end}}

              {{if .User.PermittedTo ViewUploadedIssues}}
              <li><a href="{{FullPath "uploadedissues"}}">Uploaded Issues</a></li>
              {{end}}

              {{if .User.PermittedTo ViewBatchStatus}}
              <li><a href="{{FullPath "batches"}}">Batches</a></li>
              {{end}}

              {{if .User.PermittedTo ViewMetadataWorkflow}}
                <li><a href="{{FullPath "workflow"}}">Workflow</a></li>
              {{end}}

              {{if .User.PermittedTo SearchIssues}}
                <li><a href="{{FullPath "find"}}">Find Issues</a></li>
              {{end}}

              {{if .User.PermittedTo ListAuditLogs}}
                <li><a href="{{FullPath "logs"}}">Logs</a></li>
              {{end}}

              {{if .User.PermittedTo ManageMOCs}}
                <li><a href="{{FullPath "mocs"}}">MARC Org Codes</a></li>
              {{end}}

              {{if .User.PermittedTo ListUsers}}
                <li><a href="{{FullPath "users"}}">Users</a></li>
              {{end}}
            </ul>
            <p class="navbar-text navbar-right">
              {{- if .User.Guest}}
                Not Logged In
              {{- else}}
                Logged in as {{.User.Login}}
              {{- end}}
            </p>
          </div>
        </div>
      </nav>

      <main class="container" id="maincontent">
        {{if debug }}
          <div class="alert alert-warning">
            Warning: This site is in DEBUG mode and is <strong>NOT SAFE</strong> for production
          </div>
        {{end}}
        <h1>{{.Title}}</h1>

        {{- if .Alert}}
          <div class="alert alert-danger">
            <p>{{.Alert}}</p>
          </div>
        {{- end}}
        {{- if .Info}}
          <div class="alert alert-info">
            <p>{{.Info}}</p>
          </div>
        {{- end}}

        {{block "content" .}}{{end}}
      </main>

    </div>

    {{RawJS "bootstrap/js/bootstrap.min.js"}}
    {{IncludeJS "tabs"}}
    {{IncludeJS "actions"}}
    {{block "extrajs" .}}{{end}}

    <script>SortableTable.initAll()</script>
  </body>
</html>
{{Comment .Version}}
{{end}}
