{{define "layout"}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>{{.Title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    {{IncludeCSS "style"}}

    {{IncludeCSS "prevent-double-submit"}}
    {{IncludeJS "prevent-double-submit"}}
    {{IncludeCSS "sortabletable"}}
    {{IncludeCSS "tabs"}}
    {{IncludeCSS "actions"}}
    {{IncludeJS "sortabletable"}}
    {{IncludeCSS "disclosure"}}
    {{IncludeJS "disclosureButton"}}
    {{IncludeJS "copy-clipboard"}}
    {{RawJS "cta-modal/cta-modal.js"}}
  </head>

  <body>
    <a class="skiplink sr-only sr-only-focusable" href="#maincontent">
      Skip to main content
    </a>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{HomePath}}">NCA</a>
        <button class="navbar-toggler" type="button" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{if .User.PermittedTo ListTitles}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "titles"}}">Titles</a></li>
            {{end}}

            {{if .User.PermittedTo ViewUploadedIssues}}
            <li class="nav-item"><a class="nav-link" href="{{FullPath "uploadedissues"}}">Uploaded Issues</a></li>
            {{end}}

            {{if .User.PermittedTo ViewBatchStatus}}
            <li class="nav-item"><a class="nav-link" href="{{FullPath "batches"}}">Batches</a></li>
            {{end}}

            {{if .User.PermittedTo ViewMetadataWorkflow}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "workflow"}}">Workflow</a></li>
            {{end}}

            {{if .User.PermittedTo SearchIssues}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "find"}}">Find Issues</a></li>
            {{end}}

            {{if .User.PermittedTo ListAuditLogs}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "logs"}}">Logs</a></li>
            {{end}}

            {{if .User.PermittedTo ManageMOCs}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "mocs"}}">MARC Org Codes</a></li>
            {{end}}

            {{if .User.PermittedTo ListUsers}}
              <li class="nav-item"><a class="nav-link" href="{{FullPath "users"}}">Users</a></li>
            {{end}}
          </ul>
          <span class="navbar-text">
            {{- if .User.Guest}}
              Not Logged In
            {{- else}}
              Logged in as {{.User.Login}}
            {{- end}}
          </span>
        </div>

      </div>
    </nav>

    <main class="container" id="maincontent">
      <h1>{{.Title}}</h1>

      {{if debug }}
        <div class="alert alert-warning">
          Warning: This site is in DEBUG mode and is <strong>NOT SAFE</strong> for production
        </div>
      {{end}}

      {{- if .Alert}}
        <div class="alert alert-danger" role="alert">
          <p>{{.Alert}}</p>
        </div>
      {{- end}}
      {{- if .Info}}
        <div class="alert alert-info">
          <p>{{.Info}}</p>
        </div>
      {{- end}}

      {{block "content" .}}{{end}}
    </main>

    {{IncludeJS "tabs"}}
    {{IncludeJS "actions"}}
    {{block "extrajs" .}}{{end}}

    <script>SortableTable.initAll()</script>

    <!-- Automatic color mode switcher, adapted from https://www.cssscript.com/automatic-dark-mode-bootstrap/ -->
    <script>
      (function () {
        function updateTheme() {
          document.querySelector("html").setAttribute("data-bs-theme", window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light")
        }
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
        updateTheme()
      })()
    </script>
  </body>
</html>
{{Comment .Version}}
{{end}}
