{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    {{RawCSS "bootstrap/css/bootstrap.min.css"}}
    {{IncludeCSS "style"}}
    {{IncludeCSS "tabs"}}
    {{IncludeJS "sortabletable"}}
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ParentURL "index.php"}}">NCA</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              {{if .User.PermittedTo ListTitles}}
                <li><a href="{{ParentURL "title-list.php"}}">Titles</a></li>
              {{end}}

              {{if .User.PermittedTo ViewUploadedIssues}}
              <li><a href="{{.Webroot}}/uploadedissues">Uploaded Issues</a></li>
              {{end}}

              {{if .User.PermittedTo ViewMetadataWorkflow}}
                <li><a href="{{.Webroot}}/workflow">Workflow</a></li>
              {{end}}

              {{if .User.PermittedTo ManageMOCs}}
                <li><a href="{{ParentURL "mocs-list.php"}}">MARC Org Codes</a></li>
              {{end}}

              {{if .User.PermittedTo ListUsers}}
                <li><a href="{{ParentURL "user-list.php"}}">Users</a></li>
              {{end}}

              {{if .User.PermittedTo ListAuditLogs}}
                <li><a href="{{ParentURL "audit-logs-list.php"}}">Logs</a></li>
              {{end}}
            </ul>
            <p class="navbar-text navbar-right">
              {{- if .User.Guest}}
                Not Logged In
              {{- else}}
                Logged in as {{.User.Login}}
              {{- end}}
            </p>
          </div>
        </div>
      </nav>

      <div class="container">
        <h1>{{.Title}}</h1>

        {{- if .Alert}}
          <div class="alert alert-danger">
            <p>{{.Alert}}</p>
          </div>
        {{- end}}
        {{- if .Info}}
          <div class="alert alert-info">
            <p>{{.Info}}</p>
          </div>
        {{- end}}

        {{block "content" .}}{{end}}

      </div>
    </div>

    {{IncludeJS "jquery-1.12.1.min"}}
    {{IncludeJS "prevent_double_submit"}}
    {{RawJS "bootstrap/js/bootstrap.min.js"}}
    {{IncludeJS "tabs"}}
    {{block "extrajs" .}}{{end}}
  </body>
</html>
{{Comment (printf "v%s" .Version)}}
{{end}}
