{{template "header" .}}

<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th scope="col" class="sort-alpha">Issue</th>
      <th scope="col" class="sort-alpha">Last Modified</th>
      <th scope="col" class="sort-alpha">Issue Status</th>
      <th scope="col" class="sort-number">PDF Count</th>
      <th scope="col" class="sort-alpha">PDF Status</th>
    </tr>
  </thead>

  <tbody>
    {{range $issue := .Data.Publisher.Issues}}
      <tr {{if gt $issue.ErrorCount 0}} class="issue-with-errors"{{end}}>
        <td>{{$issue.Name}}</td>
        <td>{{TimeString $issue.Modified}}</td>
        <td>
          {{- if gt $issue.Errors.Len 0}}
            <b>{{$issue.Errors}}</b>
          {{- else}}
            No issue errors detected
          {{- end}}
        </td>
        <td>{{len $issue.PDFs}}</td>
        <td>
          {{- if gt (len $issue.PDFs) 0}}
            {{if gt $issue.PDFErrorCount 0}}
              <b>{{$issue.PDFErrorCount}} PDF error(s)</b>
            {{- else}}
              No PDF errors detected
            {{- end}}
          {{- else}}
            N/A
          {{- end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

<script>SortableTable.initAll()</script>
{{template "footer" .}}
