{{template "header" .}}

<p>
  <strong>NOTE</strong>: Issues which have been modified in the past week are
  <em>not</em> shown here!  Some publishers take a while to get an entire issue
  uploaded, so we don't show issues until we're fairly certain they won't be
  touched again.
</p>

<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th scope="col" class="sort-alpha">Issue</th>
      <th scope="col" class="sort-alpha">Last Modified</th>
      <th scope="col" class="sort-alpha">Issue Status</th>
      <th scope="col" class="sort-number">PDF Count</th>
      <th scope="col" class="sort-alpha">PDF Status</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Title.Issues}}
      <tr {{if gt (len .Errors) 0}} class="issue-with-errors"{{end}}>
        <td>{{.Link}}</td>
        <td>{{TimeString .Modified}}</td>
        <td>
          {{- if gt (len .Errors) 0}}
            <b>{{.Errors}}</b>
          {{- else}}
            No issue errors detected
          {{- end}}
        </td>
        <td>{{len .PDFs}}</td>
        <td>
          {{- if gt (len .PDFs) 0}}
            {{if gt .ChildErrors 0}}
              <b>{{.ChildErrors}} PDF error(s)</b>
            {{- else}}
              No PDF errors detected
            {{- end}}
          {{- else}}
            N/A
          {{- end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

<script>SortableTable.initAll()</script>
{{template "footer" .}}
