{{block "content" .}}

<form role="form" method="post" action="{{MOCHomeURL}}/save">
  {{if .Data.MOC}}
    <input id="id" name="id" type="hidden" value="{{.Data.MOC.ID}}" />
  {{end}}

  <div class="row mb-3 align-items-top">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="code">Code</label>
    <div class="col-sm-6">
      <input id="code" name="code" required="required" class="form-control" pattern="[a-z]+" value="{{.Data.MOC.Code}}" aria-describedby="code-help" />
      <div id="code-help" class="form-text">
        Enter the <em>normalized</em> MARC Org Code; e.g., "orul", <strong>not</strong> "OrU-L".
      </div>
    </div>
  </div>

  <div class="row mb-3 align-items-top">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="name">Name</label>
    <div class="col-sm-6">
      <input id="name" name="name" required="required" class="form-control" value="{{.Data.MOC.Name}}" aria-describedby="name-help" />
      <div id="name-help" class="form-text">
        Enter the organization name, usually in the form "Name of entity; City,
        State".  e.g., <i>Library of Virginia; Richmond, VA</i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-4">
      <button class="btn btn-primary" type="Submit">Submit</button>
    </div>
  </div>
</form>

{{end}}
