{{block "content" .}}

<form role="form" method="post" action="{{UsersHomeURL}}/save">
  {{if .Data.User.ID}}
  <input type="hidden" name="id" value="{{.Data.User.ID}}" />
  {{else}}
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="login">Login Name</label>
    <div class="col-sm-4">
      <input class="form-control" name="login" id="login" />
    </div>
  </div>
  {{end}}

  <table class="table table-striped table-bordered table-condensed">
    <caption>Roles</caption>
    <tr>
      <th scope="col">Role Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>

    {{range $count, $role := Roles}}
    {{if $.User.CanGrant $role}}
    <tr>
      <th scope="row">{{$role.Title}}</th>
      <td>{{$role.Desc}}</td>

      <td class="radio-group">
        <input type="radio" id="{{$count}}-on"
          name="role-{{$role.Name}}" value="1" {{if $.Data.User.HasRole .}}checked{{end}} />
        <label for="{{$count}}-on">Assigned</label>

        <input type="radio" id="{{$count}}-off"
          name="role-{{$role.Name}}" value="0" {{if not ($.Data.User.HasRole .)}}checked{{end}} />
        <label for="{{$count}}-off">Not assigned</label>
      </td>

    </tr>
    {{end}}<!-- user is allowed to grant this role -->
    {{end}}<!-- range loop -->
  </table>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

{{end}}
