{{block "content" .}}

<ul>
  <li>
    <a href="{{UsersHomeURL}}/new">Create new user</a>
  </li>
</ul>

<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th scope="col" data-sorttype="alpha">Login</th>
      <th scope="col" data-sorttype="alpha">Roles</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.Users}}
      <tr>
        <td>{{.Login}}</td>
        <td>{{.RolesString}}</td>
        <td>
          {{if $.User.CanModifyUser .}}

          <div class="inline">
            <a href="{{UsersHomeURL}}/edit?id={{.ID}}" class="btn btn-outline-light">Edit</a>
          </div>

          <div class="inline">
            <form action="{{UsersHomeURL}}/deactivate" method="post">
              <input type="hidden" name="id" value="{{.ID}}" />
              <button type="submit" class="btn btn-danger">Deactivate</button>
            </form>
          </div>

          {{end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>

{{end}}
