{{block "content" .}}

{{if .Data.ValidationErrors}}
<div class="alert alert-danger">
  Invalid Title:
  <ul>
  {{range .Data.ValidationErrors}}
    <li>{{.}}</li>
  {{end}}
  </ul>
</div>
{{end}}

<form role="form" method="post" action="{{TitlesHomeURL}}/save">
  {{if .Data.Title.ID}}
  <input type="hidden" name="id" value="{{.Data.Title.ID}}" />
  {{end}}

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="name">Name</label>
    <div class="col-sm-6">
      <input id="name" name="name" value="{{.Data.Title.Name}}" required="required" class="form-control" aria-describedby="name-help" />
      <div id="name-help" class="form-text">Enter the name as required by chronam: "title. (city, Or.)"</div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="lccn">LCCN</label>
    <div class="col-sm-6">
      {{if .Data.Title.ValidLCCN}}
        {{if .User.PermittedTo ModifyValidatedLCCNs}}
          <input id="lccn" name="lccn" value="{{.Data.Title.LCCN}}" class="form-control" required="required" aria-describedby="lccn-help" />
          <div id="lccn-help" class="form-text">This LCCN has been validated - only change it if you're certain this is necessary!</div>
        {{else}}
          <input id="lccn" value="{{.Data.Title.LCCN}}" class="form-control" disabled="disabled" aria-describedby="lccn-help" />
          <div id="lccn-help" class="form-text">This LCCN has been validated and cannot be changed</div>
        {{end}}
      {{else}}
        <input id="lccn" name="lccn" value="{{.Data.Title.LCCN}}" class="form-control" required="required" />
      {{end}}
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="embargo_period">Embargo Period</label>
    <div class="col-sm-6">
      <select class="form-select" id="embargo_period" name="embargo_period">
        <option value="">Not embargoed</option>
        <option value="3M"
          {{if eq .Data.Title.EmbargoRFC3339 "P3M"}} selected="selected"{{end}}
        >3 months</option>
        <option value="1Y"
          {{if eq .Data.Title.EmbargoRFC3339 "P1Y"}} selected="selected"{{end}}
        >1 year</option>
        <option value="2Y"
          {{if eq .Data.Title.EmbargoRFC3339 "P2Y"}} selected="selected"{{end}}
        >2 years</option>
        <option value="3Y"
          {{if eq .Data.Title.EmbargoRFC3339 "P3Y"}} selected="selected"{{end}}
        >3 years</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="rights">Rights</label>
    <div class="col-sm-6">
      <select class="form-select" id="rights" name="rights">
        <option value="">** NO Rights statement **</option>

        <option value="http://www.europeana.eu/rights/rr-f/"
          {{if eq .Data.Title.Rights "http://www.europeana.eu/rights/rr-f/"}} selected="selected"{{end}}
        >http://www.europeana.eu/rights/rr-f/</option>

        <option value="http://creativecommons.org/licenses/by/4.0/"
          {{if eq .Data.Title.Rights "http://creativecommons.org/licenses/by/4.0/"}} selected="selected"{{end}}
        >http://creativecommons.org/licenses/by/4.0/</option>

        <option value="http://creativecommons.org/licenses/by-nc/4.0/"
          {{if eq .Data.Title.Rights "http://creativecommons.org/licenses/by-nc/4.0/"}} selected="selected"{{end}}
        >http://creativecommons.org/licenses/by-nc/4.0/</option>

        <option value="http://creativecommons.org/licenses/by-nc-nd/4.0/"
          {{if eq .Data.Title.Rights "http://creativecommons.org/licenses/by-nc-nd/4.0/"}} selected="selected"{{end}}
        >http://creativecommons.org/licenses/by-nc-nd/4.0/</option>
      </select>
    </div>
  </div>

  <!-- No sftp data is shown/editable if we aren't connected to SFTPGo.  Too much pain. -->
  {{if SFTPGoEnabled}}
  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="sftpuser">SFTP username</label>
    <div class="col-sm-6">
      <!-- SFTPGo has an account for this title: username cannot be changed -->
      {{if .Data.Title.SFTPConnected}}
      <input class="form-control" disabled id="sftpuser" value="{{.Data.Title.SFTPUser}}" />
      <div id="sftpuser-help" class="form-text">
        This title's SFTP credentials have already been generated in our
        external SFTPGo system, so the SFTP Username can no longer be modified.
      </div>

      <!-- No account, so username can be set -->
      {{else}}
      <input id="sftpuser" name="sftpuser" class="form-control" value="{{.Data.Title.SFTPUser}}" aria-describedby="sftpuser-help" />
      <div id="sftpuser-help" class="form-text">
        Enter a login name for this title if the publisher will send issues via SFTP.
        <strong>Note</strong>: NCA will use this to provision an external
        account, and it <strong>cannot be changed</strong> once set.
        <br /><br />
        Leave this blank to indicate the title isn't being uploaded externally
        (e.g., if it's for in-house scanning).
      </div>
      {{end}}
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="sftppass">SFTP password</label>
    <div class="col-sm-6">
      <input id="sftppass" name="sftppass" class="form-control" value="{{.Data.Title.SFTPPass}}" aria-describedby="sftppass-help" />
      <div id="sftppass-help" class="form-text">
        {{if .Data.Title.SFTPConnected}}
        Optional: if filled in, the SFTP user's password will be changed
        {{else}}
        Optional: leave blank to let NCA generate a random password for this user's SFTP login
        {{end}}
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 offset-sm-2 col-form-label" for="sftpquota">SFTP Quota</label>
    <div class="col-sm-6">
      <input id="sftpquota" name="sftpquota" class="form-control" value="{{.Data.Title.SFTPQuota.String}}" aria-describedby="sftpquota-help" />
      <div id="sftpquota-help" class="form-text">
        <p>
          Maximum amount of space allowed to be used by this title's SFTP
          uploads.  You can enter a shorthand value, e.g., "5gb" means 5
          gigabytes.
        </p>

        <p>
          Anything which results in a zero value (blank, "0", "0 B", etc.)
          means the SFTP account has unlimited storage.  This is <strong>not
          recommended</strong>.
        </p>
      </p>
    </div>
  </div>
  {{end}}

  <div class="row mb-3">
    <div class="col-sm-6 offset-sm-4">
      <button class="btn btn-primary" type="Submit">Submit</button>
    </div>
  </div>
</form>

{{end}}
