{{block "content" .}}

<!--
  This page is partly based on MDN's [File Example][1] HTML/JS/CSS.

  [1]: <https://github.com/mdn/learning-area/blob/main/html/forms/file-examples/file-example.html>
-->

<p>
  <h2>Notes:</h2>
  <ul>
    <li>
      <em>Titles loaded here are not loaded into ONI immediately</em>. They are
      queued up along with other ONI jobs, such as batch loading and purging.
      If there are a other pending ONI tasks, the uploaded MARC records have to
      wait for those to finish, which can prevent titles from being validated.
      If new titles show their LCCN is not valid, wait a bit and try to
      re-validate them when they show up in your production ONI site.
    </li>

    <li>
      If you upload a lot of files at once, it will take a while for this page
      to respond. It is recommended you upload no more than 5 files at a time.
    </li>

    <li>
      The files must contain only <em>one</em> MARC record! Multi-record files
      are not currently supported.
    </li>
  </ul>
</p>

<hr />

<h2>Upload</h2>

<form id="marc-upload-form" method="post" action="{{TitlesUploadMARCURL}}" enctype="multipart/form-data">
  <div class="row mb-3">
    <div class="col-sm-2">
      <label class="btn btn-outline" for="marc-uploader">Choose File(s)...</label>
      <input type="file" class="visually-hidden" id="marc-uploader" name="marc" accept=".xml, .mrk" multiple />
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" type="Submit">Upload</button>
    </div>
    <div id="preview" class="col-sm-8">
      <p>No files currently selected for upload</p>
    </div>
  </div>
</form>

{{end}}

{{block "extrajs" .}}
{{IncludeJS "upload"}}
{{end}}
