{{block "content" .}}

<h2 id="audit-logs-heading" aria-live="polite">
  Recent Audit Logs (showing {{.Data.AuditLogsCount}} of {{len .Data.AuditLogs}})
</h2>

<table class="table table-striped table-bordered table-condensed sortable" aria-labelledby="audit-logs-heading">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">User</th>
      <th scope="col">IP Address</th>
      <th scope="col">Action</th>
      <th scope="col">Raw Message</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.AuditLogs}}
      <tr>
        <td>{{.When}}</td>
        <td>{{.User}}</td>
        <td>{{.IP}}</td>
        <td>{{.Action}}</td>
        <td>{{.Message}}</td>
      </tr>
    {{end}}
  </tbody>
</table>

{{end}}
