{{block "content" .}}

<div class="card">
  <div class="card-header">
    <h2><button class="link disclosure" data-widget="simple-disclosure" aria-expanded="false" aria-controls="table-filters">Filters</button></h2>
  </div>
  <div class="disclosure card-body" id="table-filters">
    <form class="row" role="search" method="get" action="{{AuditHomeURL}}">
      <div class="col-md-8 offset-md-2">
      <div class="row g-3 align-items-center">
      <label class="col-md-4 form-label" for="preset-date">Preset Dates:</label>
      <div class="col-md-8"><select id="preset-date" name="preset-date" class="form-select">
        {{option "Custom (Use Fields Below)" "custom" .Data.Form.PresetDate}}
        {{option "All" "all" .Data.Form.PresetDate}}
        {{option "Past 12 months" "past12m" .Data.Form.PresetDate}}
        {{option "This year" "ytd" .Data.Form.PresetDate}}
        {{option "Past 30 days" "past30d" .Data.Form.PresetDate}}
        {{option "Today" "today" .Data.Form.PresetDate}}
      </select></div>

      <div class="col-md-4 custom-date-disclosure"><label class="form-label" id="custom-date">Custom Date Range:</label></div>
      <div class="col-md-8 custom-date-disclosure">
        <div class="row row-cols-lg-auto align-items-center">
          <label class="form-label col" id="custom-date-start">Start</label>
          <div class="col"><input class="form-control" type="date" value="{{.Data.Form.StartString}}" aria-labelledby="custom-date custom-date-start" name="custom-date-start" /></div>
          <label class="form-label col" id="custom-date-end">End</label>
          <div class="col"><input class="form-control" type="date" value="{{.Data.Form.EndString}}" aria-labelledby="custom-date custom-date-end" name="custom-date-end" /></div>
        </div>
      </div>

      <label for="user" class="col-md-4 form-label">Show logs for:</label>
      <div class="col-md-8">
        <select name="user" id="user" class="form-select">
          {{option "All Users" "" .Data.Form.Username}}
          <optgroup label="Active">
          {{range .Data.ActiveUsers}}
          {{option .Login .Login $.Data.Form.Username}}
          {{end}}
          <optgroup label="Inactive">
          {{range .Data.InactiveUsers}}
          {{option .Login .Login $.Data.Form.Username}}
          {{end}}
        </select>
      </div>

      <label for="action-types" class="col-md-4 form-label">Action Types:</label>
      <div class="col-md-8">
        <select name="action-types" id="action-types" class="form-select">
          {{option "All Actions" "" .Data.Form.ActionTypes}}
          {{option "Uploads" "Uploads" $.Data.Form.ActionTypes}}
          {{option "Titles" "Titles" $.Data.Form.ActionTypes}}
          {{option "MARC Org Codes" "MARC Org Codes" $.Data.Form.ActionTypes}}
          {{option "Users" "Users" $.Data.Form.ActionTypes}}
          {{option "Issue Workflow" "Issue Workflow" $.Data.Form.ActionTypes}}
        </select>
      </div>

      <div class="col-md-8 offset-md-4">
        <button id="apply-filters-button" class="btn btn-primary" type="Submit">Apply filters</button>
      </div>
      </div>
      </div>
    </form>
  </div>
</div>

<h2 id="audit-logs-heading" aria-live="polite">
  Showing {{len .Data.AuditLogs}} logs (of {{.Data.AuditLogsCount}})
</h2>

<p>
  <a href="{{AuditHomeURL}}/csv?{{.Data.Form.QueryString}}">Download a CSV of the current view</a>.
</p>

<table class="table table-striped table-bordered table-condensed sortable" aria-labelledby="audit-logs-heading">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">User</th>
      <th scope="col">IP Address</th>
      <th scope="col">Action</th>
      <th scope="col">Raw Message</th>
    </tr>
  </thead>

  <tbody>
    {{range .Data.AuditLogs}}
      <tr>
        <td>{{TimeString .When}}</td>
        <td>{{.User}}</td>
        <td>{{.IP}}</td>
        <td>{{.Action}}</td>
        <td>{{.Message}}</td>
      </tr>
    {{end}}
  </tbody>
</table>

<h2>Help</h2>

<p>Audit logs are very "internal", and as such the data may not mean a lot. Ask
the system administrator for details if something is confusing. Some of the
information in the "Raw Message" column is only going to be meaningful to a
developer and/or database administrator.</p>

<p>Filters by date range and user should be self-explanatory. The action type
filter is a bit tricky, however. The list presented here only includes a subset
of the actual database values, because many values have proven not to be useful
or have changed drastically over time due to the lack of having a controlled
list of action types. Additionally, some actions are ambiguous in name and
still need a more human-friendly explanation.</p>

<h2>Some Background</h2>

<p>(or "why do these logs seem so weird?")</p>

<p>Audit logs were put into NCA very early on, back when the system consisted
of multiple apps in PHP and Python, and the various pieces were very brittle.
The audit logs were originally put in place to help debug issues or identify
why an issue had the wrong metadata. This was long before we had an
action/comment log tied to issues.</p>

<p>Because of the action logs tied to issues, and the history of the audit
logs, these are now only useful in very specific situations: typcially when you
want to see who is doing what kind of work, how often, or who made a very
specific change, such as deactivating a user.</p>

{{end}}

{{block "extrajs" .}}
{{IncludeJS "logs"}}
{{end}}
