{{block "content" .}}

<h2 id="search">Search</h2>

<p id="search-help">
  Title is required, but other fields are optional to an extent.  You must fill
  out fields from left to right, so you cannot, for example, put in a month
  while leaving year at zero.
</p>

<form action="{{.Data.SearchAction}}" class="form-horizontal" method="GET" role="search" aria-describedby="search-help">
  <div class="form-group">
    <label for="lccn">Title</label>
    <select id="lccn" name="lccn">
      {{range .Data.Titles}}
        <option value="{{.LCCN}}" {{if eq .LCCN $.Data.LCCN}}selected="selected"{{end}}>
          {{.Name}} - {{.LCCN}}
        </option>
      {{end}}
    </select>
  </div>

  <div class="form-group">
    <label for="year">Year</label>
    <input type="number" min="0" max="2100" id="year" name="year" value="{{.Data.Year}}" />

    <label for="month">Month</label>
    <input type="number" min="0" max="12" id="month" name="month" value="{{.Data.Month}}" />

    <label for="day">Day</label>
    <input type="number" min="0" max="31" id="day" name="day" value="{{.Data.Day}}" />
  </div>

  <div class="form-group">
    <button type="submit">Search</button>
  </div>
</form>

{{if gt (len .Data.Issues) 0}}
<h2 id="results">Results</h2>

<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
  <tr>
    <th scope="col" data-sorttype="alpha">Date / Edition</th>
    <th scope="col" data-sorttype="alpha">Workflow Step</th>
    <th scope="col" data-sorttype="">Link</th>
    <th scope="col" data-sorttype="alpha">Raw File / Web Location</th>
  </tr>
  </thead>

  <tbody>
  {{range .Data.Issues}}
  <tr>
    <td>{{.DateEdition}}</td>
    <td>{{.WorkflowStep}}</td>
    <td>{{.Link}}</td>
    <td>
      {{if .Batch}}
        <p>{{.Location}}</p>
        <p>Batch: {{.Batch.Fullname}}</p>
      {{else}}
        {{.Location}}
      {{end}}
    </td>
  </tr>
  {{end}}
  </tbody>
</table>
{{end}} <!-- End of "if" - we had issues in this block -->

<script>SortableTable.initAll()</script>
{{end}}
